[Unit]
Description=Webapp
After=cloud-final.service

[Service]
WorkingDirectory=/home/ec2-user/webapp
ExecStart=/usr/bin/node /home/ec2-user/webapp/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
User=ec2-user

[Install]
WantedBy=multi-user.target
WantedBy=cloud-init.target