name: Node.js CICD

on:
  pull_request:
    branches: [ "main" ]

env:
  AWS_ACCESS_KEY: ${{secrets.AWS_ACCESS_KEY_EC2}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY_EC2}}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Compress webapp
        run: |
          cd .. 
          zip -r webapp.zip webapp/
          cd webapp
      - name: Setup env
        run: |
          echo "DIALECT=mysql"
      - name: Run unit test
        run: |
          npm i
          npm test
      - name: Init packer
        run: packer init -var-file="./packer/variables.pkr.hcl" ./packer/webapp.pkr.hcl
      - name: Validate packer file
        run: packer validate -var-file="./packer/variables.pkr.hcl" ./packer/webapp.pkr.hcl
          